
.timer {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    text-transform: uppercase;
    color: #2e2f42;
}